@font-face {
    font-family: 'aileronregular';
    src: url('Aileron-Regular-webfont.eot');
    src: url('Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Regular-webfont.woff2') format('woff2'),
         url('Aileron-Regular-webfont.woff') format('woff'),
         url('Aileron-Regular-webfont.ttf') format('truetype'),
         url('Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronbold';
    src: url('Aileron-Bold-webfont.eot');
    src: url('Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Bold-webfont.woff2') format('woff2'),
         url('Aileron-Bold-webfont.woff') format('woff'),
         url('Aileron-Bold-webfont.ttf') format('truetype'),
         url('Aileron-Bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'aileronregular';
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}


/*HEADER*/

.container{
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-color: #292929;
}

.logo{
    position: relative;
    top: 2%;
    left: 2%;
    font-size: 30px;
    color: #dd4444;
}

.content{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
    max-width: 50vw;
    width: 100%;
    left: 18%;
}

.header{
    position: relative;
    max-width: 28vw;
    width: 100%;
    height: 60vh;
}

.header h1{
    margin: 0px;
    color: #ffffff;
    font-size: 75px;
}

.header hr{
    color: #ffd736;
    margin: 0px;
    border: 1px solid;
    width: 31.5%;
}

.header p{
    color: #d9d9d9;
    font-size: 24px;
    margin: 0px;
}

.about_me_button{
    font-family: 'aileronbold';
    border: 2px solid #ffd736;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    top: 15px;
    left: 26%;
}

.about_me_button:hover{
    background-color: #ffd736;
    color: #292929;
}

.about_me_button i{
    padding-right: 5px;
}

.yellow-part{
    background-color: #ffd736;
    position: absolute;
    right: 0%;
    width: 20%;
    height: 100vh;
    bottom: 0%;
}

.links{
    display: grid;
    max-width: 5vw;
    width: 100%;
    position: relative;
    top: 25%;
    left: 2%;
}

.links a{
    display: flex;
    height: 4vh;
}

.links p{
    font-family: 'aileronbold';
    font-weight: bold;
    position: relative;
    bottom: 37%;
    font-size: 16px;
    text-transform: uppercase;
}

.links p:hover{
    color:  #dd4444;
}

.circles{
    margin: 5px;
    color: #dd4444;
}

/*ABOUT ME*/
.about_me_container{
    padding-top: 2%;
}

.title_about_me{
    position: relative;
    top: 17vh;
}

.title_about_me h2{
    font-family: 'aileronbold';
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    position: relative;
    bottom: 17vh;
    width: 20vw;
    left: 40vw;
}

.title_about_me hr{
    margin: 0px;
    width: 9vw;
    position: relative;
    left: 45.4%;
    color: #ffd736;
    bottom: 17vh;
}

.about_me_section h2{
    font-family: 'aileronbold';
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.img__info{
    max-width: 50vw;
    display: flex;
    padding-bottom: 3%;
    border-radius: 10px;
    position: relative;
    bottom: 0vh;
    left: 15vw;
}

.img__info h3{
    font-weight: 200;
    text-align: center;
    position: relative;
    left: 21%;
    color: white;
}

.img__info br{
    margin-bottom: 5px;
}

.skills{
    position: relative;
    bottom: 3vh;
    max-width: 50vw;
    max-height: 29vh;
}

.skills h2{
    position: relative;
    left: 25.4vw;
}

.skills hr{
    margin: 0px;
    width: 6vw;
    position: relative;
    left: 95%;
    color: #ffd736;
    bottom: 0vh;
}

.skills_names{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 25vw;
}


.round{
    min-height: 255px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.round>strong{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 23px;
    font-weight: 100;
    color: white;
}

.round>span{
    display: block;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.skills_names_1{
    display: flex;
    max-height: 20vh;
    max-width: 60vw;
    justify-content: space-evenly;
    position: relative;
    bottom: 6vh;
    left: 24.5vw;
}

.links_about_me{
    position: relative;
    text-align: center;
    top: 8vh;
    font-size: 24px;
    left: 20vw;
}

.links_about_me a{
    display: block;
    padding-bottom: 7px;
}

.links_about_me a:hover{
    color: #dd4444;
}

/*PROJECTS*/

.projects-content{
    text-align: center;
}